.main-container{
    display: flex;
}
@media screen and (min-width:320px){
    .Auth-container{
        width:47%;
    }
}
@media screen and (min-width:360px){
    .Auth-container{
        /* display: flex; */
        width:48%;
        /* transform: translate(160%,50%); */
    }
    
}

@media screen and (min-width:375px){
    .Auth-container{
        /* display: flex; */
        width:44%;
        /* transform: translate(160%,50%); */
    }
    
}

@media screen and (min-width:412px){
    .Auth-container{
        /* display: flex; */
        width:42%;
        /* transform: translate(160%,50%); */
    }
    
}

@media screen and (min-width:720px){
    .Auth-container{
        width:42%;
        /* transform: translate(160%,50%); */
    }
    
}

@media screen and (min-width:1024px){
    .Auth-container{
        width:42%;
        /* transform: translate(160%,50%); */
    }
    
}

@media screen and (min-width:1280px){
    .Auth-container{
        width:23%;
        /* transform: translate(160%,50%); */
    }
    
}

@media screen and (min-width:1366px)and (max-width:1439px){
    .Auth-container{
        /* display: flex; */
        height:50%;
        width:23%;
        /* transform: translate(160%,50%); */
    }
    
}

@media screen and (min-width:1440px)and (max-width:1919px){
    .Auth-container{
        width:23%;
        /* transform: translate(160%,50%); */
    }
    
}

@media screen and (min-width:1920px){
    .Auth-container{
        width:23%;
        /* transform: translate(160%,50%); */
    }
    
}
.error-text{
    position: absolute;
    top:25%;
    left:40%;
}
.Auth-container{
    border:0px;
    position: absolute;
    top:30%;
    left:40%;
    height: 300px;
    border: 1px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Login-jaffa{
    width:50%;
    height:32px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    text-decoration: none;
    border: none;
}
.Login-jaffa:hover{
    cursor: pointer;
    background: lightgray;
    color:blue;
    font-weight: 1000;
}
.signup-but{
    width:50%;
    height:32px;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
}
.signup-but:hover{
    cursor: pointer;
    background: lightgray;
    color: blue;
    font-weight: 1000;
}

.main-div{
    display: flex;
    height:100vh;
    flex-direction: column;
    /* border: 1px solid black; */
}
.parent-div{
    display: flex;
    flex-direction: row;
    height:60px;
    justify-content: space-around;
    align-content:center ;
    background:#e0e0e0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2) ;
    position: fixed;
    width:100%;
}

.cp-div{
    display:flex;
}
.sf-div{
    margin-top: 64px;
    display: flex;
    height:21px;
    flex-direction: row;
    justify-content: flex-end;
}

.base-div{
    width:100%;
    display: flex;
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
}